DatasetParser/*
!DatasetParser/datasetParsing.py
LineExtractor/C++/cmake_install.cmake
LineExtractor/C++/CMakeCache.txt
LineExtractor/C++/CMakeLists.txt
LineExtractor/C++/Line.cpp
LineExtractor/C++/Makefile
LineExtractor/C++/CMakeFiles/cmake.check_cache
LineExtractor/C++/CMakeFiles/CMakeConfigureLog.yaml
LineExtractor/C++/CMakeFiles/CMakeDirectoryInformation.cmake
LineExtractor/C++/CMakeFiles/Makefile.cmake
LineExtractor/C++/CMakeFiles/Makefile2
LineExtractor/C++/CMakeFiles/progress.marks
LineExtractor/C++/CMakeFiles/TargetDirectories.txt
LineExtractor/C++/CMakeFiles/3.28.0-rc5/CMakeCCompiler.cmake
LineExtractor/C++/CMakeFiles/3.28.0-rc5/CMakeCXXCompiler.cmake
LineExtractor/C++/CMakeFiles/3.28.0-rc5/CMakeDetermineCompilerABI_C.bin
LineExtractor/C++/CMakeFiles/3.28.0-rc5/CMakeDetermineCompilerABI_CXX.bin
LineExtractor/C++/CMakeFiles/3.28.0-rc5/CMakeRCCompiler.cmake
LineExtractor/C++/CMakeFiles/3.28.0-rc5/CMakeSystem.cmake
LineExtractor/C++/CMakeFiles/3.28.0-rc5/CompilerIdC/a.exe
LineExtractor/C++/CMakeFiles/3.28.0-rc5/CompilerIdC/CMakeCCompilerId.c
LineExtractor/C++/CMakeFiles/3.28.0-rc5/CompilerIdCXX/a.exe
LineExtractor/C++/CMakeFiles/3.28.0-rc5/CompilerIdCXX/CMakeCXXCompilerId.cpp
LineExtractor/C++/CMakeFiles/display_image.dir/build.make
LineExtractor/C++/CMakeFiles/display_image.dir/cmake_clean.cmake
LineExtractor/C++/CMakeFiles/display_image.dir/compiler_depend.make
LineExtractor/C++/CMakeFiles/display_image.dir/compiler_depend.ts
LineExtractor/C++/CMakeFiles/display_image.dir/depend.make
LineExtractor/C++/CMakeFiles/display_image.dir/DependInfo.cmake
LineExtractor/C++/CMakeFiles/display_image.dir/flags.make
LineExtractor/C++/CMakeFiles/display_image.dir/includes_CXX.rsp
LineExtractor/C++/CMakeFiles/display_image.dir/link.txt
LineExtractor/C++/CMakeFiles/display_image.dir/linkLibs.rsp
LineExtractor/C++/CMakeFiles/display_image.dir/objects1.rsp
LineExtractor/C++/CMakeFiles/display_image.dir/progress.make