body {
    text-align: center;
    font-family: Arial, sans-serif;
}
h1, h2, p {
    margin: 10px;
}
button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #3e8e41;
}
#boxes, #itemboxes {
    display: inline-block;
    text-align: left;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    width:150px; 
    vertical-align: top;
}
